<div class="bs-example" id="category_res"> 
<div class="row app-list">
	<div class="col-lg-2"></div>
	<div class="col-lg-8">
		<div class="panel panel-rank">
			<div class="panel-heading">
			    <div>编辑图书</div>
			</div> 
			<%= raw @section.content%>
		</div>
	</div>
	<div class="col-lg-2"></div>
</div>
</div>