<div id="comments_list">
  <% @cartoon.comments.each do |comment|%>
    <div class="panel">
      <div class="comment-header">
        <h5><%= comment.user.username%> 说:</h5>
      </div>
      <div class="comment-body">
        <%= comment.content%>
      </div>
    </div>
  <%end%>
</div>

<div class="panel">
  <div class="panel-heading">
    <h4 class="panel-title">评论</h4>
  </div>

  <div class="comment-body" id="add_comment_area">
  </div>
</div>
