  <div class="bs-example" id="footer"> 
      <div class='row'>
        <div class="col-lg-1"></div>
        <div class="col-lg-2" id="first-col">
          <div class="list-group">
            <a href="/" class="list-item">
              <h4 class="list-group-item-heading">网站首页</h4>
            </a>
          </div>
        </div>
         <div class="col-lg-4" id="second-col">
          <div class="list-group">
            <span class="list-item">
              <h4 class="list-group-item-heading">最新公告</h4>
            </span>
            <span class="list-item">
              <p class="list-group-item-text">公告1</p>
            </span>
            <span class="list-item">
              <p class="list-group-item-text">公告2</p>
            </span>
            <span class="list-item">
              <p class="list-group-item-text">公告3</p>
            </span>
          </div>
        </div>
        <div class="col-lg-4" id="last-col">
          <div class="list-group">
            <span class="list-item">
              <h4 class="list-group-item-heading">其它</h4>
            </span>
            <a href="#" class="list-item">
              <p class="list-group-item-text">关于我们</p>
            </a>
            <a href="#" class="list-item">
               <p class="list-group-item-text">联系我们</p>
            </a>
          </div>
        </div>
        <div class="col-lg-1"></div>
      </div>
  </div>