<ul class="nav navbar-nav">
	<li class=<%= "active" if @curr_nav == 'all'%>>
	    <a href="/">首页</a>
	</li>
	<li class=<%= "active" if @curr_nav == 'hot'%>>
	    <a href="/cartoons/hot">热门</a>
	</li>
	<li class=<%= "active" if @curr_nav == 'lastest'%>>
	    <a href="/cartoons/lastest">最新</a>
	</li>	
</ul>