             /*
 * Bootstrap Documentation
 * Special styles for presenting Bootstrap's documentation and code examples.
 */



/* Key scaffolding
-------------------------------------------------- */

body {
  position: relative; /* For scrollyspy */
  padding-top: 50px; /* Account for fixed navbar */
}

/* Custom docs button */
.btn-bs {
  color: #0088cc;
  background-color: #fff;
  border-color: #e5e5e5;
}
.btn-bs:hover,
.btn-bs:focus,
.btn-bs:active {
  color: #fff;
  background-color: #0088cc;
  border-color: #0088cc;
}

/* Temp CSS until RC2 */
.bs-customize-placeholder {
  margin-bottom: -100px;
  padding: 80px 30px;
  text-align: center;
  background-color: #f5f5f5;
}


/* Top nav and header
-------------------------------------------------- */

.bs-docs-nav {
  background-color: #fafafa;
  border-bottom: 1px solid #d9d9d9;
}
.bs-docs-nav .navbar-brand {
  color: #333;
  padding-left: 0;
  font-size: 20px;
}

.bs-docs-nav .navbar-nav > li > a {
  font-size: 16px;
  color: #aaa;
  border-right: 1px solid #f3f3f3;
  font-weight: 600;
  /*padding: 18px 0;*/
  text-align: center;
  -webkit-transition: all 80ms linear;
  -moz-transition: all 80ms linear;
  -o-transition: all 80ms linear;
  transition: all 80ms linear;
  text-shadow: none;
}
.bs-docs-nav .navbar-nav > li > a:hover {
  color: #0088cc;
}
.bs-docs-nav .navbar-nav > .active > a,
.bs-docs-nav .navbar-nav > .active > a:hover {
  color: #fff;
  /*background-color: #3b5998;*/
  background-color: #0088cc;
}
.bs-docs-nav .navbar-toggle {
  border-color: #0088cc;
}
.bs-docs-nav .navbar-toggle:hover {
  background-color: #463265;
  border-color: #463265;
}




/* Old docs callout */
.bs-old-docs {
  padding: 15px 20px;
  color: #777;
  background-color: #fafafa;
  border-bottom: 1px solid #e5e5e5;
}
.bs-old-docs strong {
  color: #555;
}
.bs-docs-home .bs-old-docs {
  text-align: center;
  border-top: 1px solid #e5e5e5;
}


/* Homepage masthead
-------------------------------------------------- */

.bs-masthead {
  position: relative;
  padding: 30px 15px;
  text-align: center;
}
.bs-masthead h1 {
  font-size: 50px;
  line-height: 1;
}

/* Download button */
.bs-masthead .btn-bs {
  margin-top: 5px;
  margin-bottom: 5px;
  padding: 18px 24px;
  font-size: 21px;
}

/* Textual links */
.bs-social {
  margin-top: 30px;
  text-align: center;
}
.bs-masthead-links {
  margin-top: 20px;
  margin-bottom: 20px;
  padding-left: 0;
  list-style: none;
  text-align: center;
}
.bs-masthead-links li {
  display: inline;
  color: #999;
}
.bs-masthead-links li + li {
  margin-left: 20px;
}



/* Customize and Download button
-------------------------------------------------- */

.bs-customizer .toggle {
  float: right;
}
.bs-customizer label {
  margin-top: 10px;
  font-weight: 500;
  color: #444;
}
.bs-customizer h2 {
  margin-top: 0;
  margin-bottom: 5px;
  padding-top: 30px;
}
.bs-customizer h4 {
  margin-top: 15px;
}
.bs-customizer input[type="text"] {
  background-color: #fafafa;
}
.bs-customizer .help-block {
  font-size: 12px;
}

.bs-customize-download {
  text-align: center;
}



/* Docs pages and sections
-------------------------------------------------- */

/* Page headers */
.bs-header {
  /*padding: 30px 30px 40px;*/
  font-size: 16px;
  color: #5a5a5a;
  text-align: center;
  border-bottom: 1px solid #e5e5e5;
  background: #fafafa;
}
.bs-header h1 {
  color: #0088cc;
}
.bs-header p {
  font-weight: 300;
  line-height: 1.5;
}
.bs-header .container {
  position: relative;
}

.bs-docs-section + .bs-docs-section {
  margin-top: 80px;
}

/* Ads in page headers */
.carbonad {
  width: auto !important;
  margin: 50px -30px -40px !important;
  padding: 20px !important;
  overflow: hidden; /* clearfix */
  height: auto !important;
  font-size: 13px !important;
  line-height: 16px !important;
  text-align: left;
  background: none !important;
  border: 0 !important;
  border-top: 1px solid #e5e5e5 !important;
}
.carbonad-img {
  margin: 0 !important;
}
.carbonad-text,
.carbonad-tag {
  float: none !important;
  display: block !important;
  width: auto !important;
  height: auto !important;
  margin-left: 145px !important;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif !important;
}
.carbonad-text {
  padding-top: 0 !important;
}
.carbonad-tag {
  text-align: left !important;
}
.carbonad #azcarbon > img {
  display: none; /* hide what I assume are tracking images */
}



/* Docs sidebar
-------------------------------------------------- */

/* By default it's not affixed in mobile views, so undo that */
.bs-sidebar.affix {
  position: static;
}

/* First level of nav */
.bs-sidenav {
  margin-top: 30px;
  margin-bottom: 30px;
  padding-top:    10px;
  padding-bottom: 10px;
  text-shadow: 0 1px 0 #fff;
  background-color: #f7f5fa;
  border-radius: 5px;
}

/* All levels of nav */
.bs-sidebar .nav > li > a {
  display: block;
  color: #716b7a;
  padding: 5px 20px;
}
.bs-sidebar .nav > li > a:hover,
.bs-sidebar .nav > li > a:focus {
  text-decoration: none;
  background-color: #e5e3e9;
  border-right: 1px solid #dbd8e0;
}
.bs-sidebar .nav > .active > a,
.bs-sidebar .nav > .active:hover > a,
.bs-sidebar .nav > .active:focus > a {
  font-weight: bold;
  color: #0088cc;
  background-color: transparent;
  border-right: 1px solid #0088cc;
}

/* Nav: second level (shown on .active) */
.bs-sidebar .nav .nav {
  display: none; /* Hide by default, but at >768px, show it */
  margin-bottom: 8px;
}
.bs-sidebar .nav .nav > li > a {
  padding-top:    3px;
  padding-bottom: 3px;
  padding-left: 30px;
  font-size: 90%;
}



/* Side notes for calling out things
-------------------------------------------------- */

/* Base styles (regardless of theme) */
.bs-callout {
  margin: 20px 0;
  padding: 15px 30px 15px 15px;
  border-left: 5px solid #eee;
}
.bs-callout h4 {
  margin-top: 0;
}
.bs-callout p:last-child {
  margin-bottom: 0;
}
.bs-callout code,
.bs-callout .highlight {
  background-color: #fff;
}

/* Themes for different contexts */
.bs-callout-danger {
  background-color: #fcf2f2;
  border-color: #dFb5b4;
}
.bs-callout-warning {
  background-color: #fefbed;
  border-color: #f1e7bc;
}
.bs-callout-info {
  background-color: #f0f7fd;
  border-color: #0088cc;
}



/* Special grid styles
-------------------------------------------------- */

.show-grid {
  margin-bottom: 15px;
}
.show-grid [class^="col-"] {
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: #eee;
  border: 1px solid #ddd;
  background-color: rgba(86,61,124,.15);
  border: 1px solid rgba(86,61,124,.2);
}



/* Bootstrap code examples
-------------------------------------------------- */

/* Base class */
.bs-example {
  position: relative;
  padding: 45px 15px 15px;
  margin: 0 -15px -1px;
  background-color: #fafafa;
  box-shadow: inset 0 3px 6px rgba(0,0,0,.05);
  border-color: #e5e5e5 #eee #eee;
  border-style: solid;
  border-width: 1px 0;
}
/* Echo out a label for the example */
.bs-example:after {
  content: "";
  position: absolute;
  top:  15px;
  left: 15px;
  font-size: 12px;
  font-weight: bold;
  color: #bbb;
  text-transform: uppercase;
  letter-spacing: 1px;
}

/* Tweak display of the examples */
.bs-example + .prettyprint,
.bs-example + .highlight {
  margin-top: 0;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

/* Tweak content of examples for optimum awesome */
.bs-example > p:last-child,
.bs-example > ul:last-child,
.bs-example > ol:last-child,
.bs-example > blockquote:last-child,
.bs-example > input:last-child,
.bs-example > select:last-child,
.bs-example > textarea:last-child,
.bs-example > .table:last-child,
.bs-example > .navbar:last-child
.bs-example > .jumbotron:last-child,
.bs-example > .alert:last-child,
.bs-example > .panel:last-child,
.bs-example > .list-group:last-child,
.bs-example > .well:last-child {
  margin-bottom: 0;
}
.bs-example > p > .close {
  float: none;
}

/* Typography */
.bs-example-type .table td {
  color: #999;
  vertical-align: middle;
}
.bs-example-type .table td,
.bs-example-type .table th {
  padding: 15px 0;
  border-color: #eee;
}
.bs-example-type .table tr:first-child td,
.bs-example-type .table tr:first-child th {
  border-top: 0;
}
.bs-example-type h1,
.bs-example-type h2,
.bs-example-type h3,
.bs-example-type h4,
.bs-example-type h5,
.bs-example-type h6 {
  margin: 0;
}

/* Forms */
.bs-example.form-inline select,
.bs-example.form-inline input[type="text"],
.bs-example.form-inline input[type="password"] {
  width: 180px;
}
.bs-example-control-sizing select,
.bs-example-control-sizing input[type="text"] + input[type="text"] {
  margin-top: 10px;
}
.bs-example-form .input-group {
  margin-bottom: 10px;
}

/* List groups */
.bs-example > .list-group {
  max-width: 400px;
}

/* Navbar examples */
.bs-example .navbar:last-child {
  margin-bottom: 0;
}
.bs-navbar-top-example,
.bs-navbar-bottom-example {
  z-index: 1;
  padding: 0;
  min-height: 110px;
  overflow: hidden; /* cut the drop shadows off */
}
.bs-navbar-top-example .navbar-fixed-top,
.bs-navbar-bottom-example .navbar-fixed-bottom {
  position: relative;
  margin-left: 0;
  margin-right: 0;
}
.bs-navbar-top-example .navbar-fixed-top {
  top: -1px;
}
.bs-navbar-bottom-example .navbar-fixed-bottom {
  bottom: -1px;
}
.bs-navbar-top-example {
  -webkit-border-radius: 0 0 4px 4px;
     -moz-border-radius: 0 0 4px 4px;
          border-radius: 0 0 4px 4px;
}
.bs-navbar-top-example:after {
  top: auto;
  bottom: 15px;
  -webkit-border-radius: 0 4px 0 4px;
     -moz-border-radius: 0 4px 0 4px;
          border-radius: 0 4px 0 4px;
}
.bs-navbar-bottom-example {
  -webkit-border-radius: 4px 4px 0 0;
     -moz-border-radius: 4px 4px 0 0;
          border-radius: 4px 4px 0 0;
}
.bs-navbar-bottom-example .navbar {
  margin-bottom: 0;
}

/* Example modals */
.bs-example-modal {
  background-color: #f5f5f5;
}
.bs-example-modal .modal {
  position: relative;
  top: auto;
  right: auto;
  left: auto;
  bottom: auto;
  z-index: 1;
  display: block;
}
.bs-example-modal .modal-dialog {
  left: auto;
  margin-left: auto;
  margin-right: auto;
}

/* Example dropdowns */
.bs-example > .dropdown > .dropdown-menu,
.bs-example-submenu > .pull-left > .dropup > .dropdown-menu,
.bs-example-submenu > .pull-left > .dropdown > .dropdown-menu {
  position: static;
  display: block;
  margin-bottom: 5px;
}
.bs-example-submenu {
  min-height: 230px;
}
.bs-example-submenu > .pull-left + .pull-left {
  margin-left: 20px;
}

/* Example tabbable tabs */
.bs-example-tabs .nav-tabs {
  margin-bottom: 15px;
}

/* Tooltips */
.bs-example-tooltips {
  text-align: center;
}

/* Popovers */
.bs-example-popover {
  padding-bottom: 24px;
  background-color: #f9f9f9;
}
.bs-example-popover .popover {
  position: relative;
  display: block;
  float: left;
  width: 260px;
  margin: 20px;
}



/* Example templates
-------------------------------------------------- */

.bs-examples h4 {
  margin-bottom: 5px;
}
.bs-examples p {
  margin-bottom: 20px;
}



/* Responsive docs
-------------------------------------------------- */

/* Responsive (scrollable) doc tables */
@media (max-width: 768px) {
  .bs-table-scrollable {
    width: 100%;
    margin-bottom: 15px;
    overflow-y: hidden;
    overflow-x: scroll;
    border: 1px solid #ddd;
  }
  .bs-table-scrollable .table {
    margin-bottom: 0;
    border: 0;
  }
  .bs-table-scrollable .table th,
  .bs-table-scrollable .table td {
    white-space: nowrap;
  }
  .bs-table-scrollable .table th:first-child,
  .bs-table-scrollable .table td:first-child {
    border-left: 0;
  }
  .bs-table-scrollable .table th:last-child,
  .bs-table-scrollable .table td:last-child {
    border-right: 0;
  }
  .bs-table-scrollable .table tr:last-child th,
  .bs-table-scrollable .table tr:last-child td {
    border-bottom: 0;
  }
}

/* Related: responsive utilities tables */
.table code {
  font-size: 13px;
  font-weight: normal;
}

/* Utility classes table
------------------------- */
.bs-table th small,
.responsive-utilities th small {
  display: block;
  font-weight: normal;
  color: #999;
}
.responsive-utilities tbody th {
  font-weight: normal;
}
.responsive-utilities td {
  text-align: center;
}
.responsive-utilities td.is-visible {
  color: #468847;
  background-color: #dff0d8 !important;
}
.responsive-utilities td.is-hidden {
  color: #ccc;
  background-color: #f9f9f9 !important;
}

/* Responsive tests
------------------------- */
.responsive-utilities-test {
  margin-top: 5px;
  padding-left: 0;
  list-style: none;
  overflow: hidden; /* clear floats */
}
.responsive-utilities-test li {
  position: relative;
  float: left;
  width: 25%;
}
.responsive-utilities-test li + li {
  margin-left: 10px;
}
.responsive-utilities-test span {
  padding: 15px 10px;
  font-size: 14px;
  font-weight: bold;
  line-height: 1.1;
  text-align: center;
  border-radius: 4px;
}
.responsive-utilities-test.visible-on [class*="hidden"],
.responsive-utilities-test.hidden-on [class*="visible"] {
  color: #999;
  border: 1px solid #ddd;
}
.responsive-utilities-test.visible-on [class*="visible"],
.responsive-utilities-test.hidden-on [class*="hidden"] {
  color: #468847;
  background-color: #dff0d8;
  border: 1px solid #d6e9c6;
}



/* Footer
-------------------------------------------------- */

.bs-footer {
  padding-top: 40px;
  padding-bottom: 30px;
  margin-top: 100px;
  text-align: center;
  border-top: 1px solid #e5e5e5;
}
.bs-footer p {
  margin-bottom: 0;
  color: #777;
}
.footer-links {
  margin: 10px 0;
  padding-left: 0;
}
.footer-links li {
  display: inline;
  padding: 0 2px;
}
.footer-links li:first-child {
  padding-left: 0;
}

/* Social proof buttons from GitHub & Twitter */
.bs-social {
  margin-bottom: 20px;
}
.bs-social-buttons {
  display: inline-block;
  margin-bottom: 0;
  padding-left: 0;
  list-style: none;
}
.bs-social-buttons li {
  display: inline-block;
  line-height: 1;
}
.bs-social-buttons li + li {
  margin-left: 15px;
}
.bs-social-buttons .twitter-follow-button {
  width: 225px !important;
}
.bs-social-buttons .twitter-share-button {
  width: 98px !important;
}



/* Misc docs stuff
-------------------------------------------------- */

/* Pseudo :focus state for showing how it looks in the docs */
input.focused {
  border-color: rgba(82,168,236,.8);
  outline: 0;
  outline: thin dotted \9; /* IE6-9 */
  -moz-box-shadow: 0 0 8px rgba(82,168,236,.6);
       box-shadow: 0 0 8px rgba(82,168,236,.6);
}

/* Scrollspy demo on fixed height div */
.scrollspy-example {
  position: relative;
  height: 200px;
  margin-top: 10px;
  overflow: auto;
}

.highlight {
  padding: 9px 14px;
  margin-bottom: 14px;
  background-color: #f7f7f9;
  border: 1px solid #e1e1e8;
  border-radius: 4px;
}
.highlight pre {
  padding: 0;
  margin-top: 0;
  margin-bottom: 0;
  background-color: transparent;
  border: 0;
  white-space: nowrap;
}
.highlight pre code {
  font-size: inherit;
  color: #333; /* Effectively the base text color */
}
.highlight pre .lineno {
  display: inline-block;
  width: 22px;
  padding-right: 5px;
  margin-right: 10px;
  text-align: right;
  color: #bebec5;
}

/* Better spacing on download options in getting started */
.bs-docs-dl-options h4 {
  margin-top: 15px;
  margin-bottom: 5px;
}


/* Responsive variations
-------------------------------------------------- */

/* Hide code snippets on mobile devices */
@media screen and (max-width: 480px) {
  .highlight {
    display: none;
  }
}

/* Tablets and up */
@media screen and (min-width: 768px) {

  .bs-header {
    font-size: 21px;
    text-align: left;
  }
  .bs-header h1 {
    font-size: 60px;
    line-height: 1;
  }

  .bs-example {
    margin-left: 0;
    margin-right: 0;
    background-color: #fafafa;
    border-width: 1px;
    border-color: #ddd;
    border-radius: 4px 4px 0 0;
    box-shadow: none;
  }

  .carbonad {
    margin: 0 !important;
    border: 1px solid #e5e5e5 !important;
    border-radius: 4px;
  }

  /* Show the docs nav */
  .bs-sidebar {
    display: block;
  }
  /* Show the hidden subnavs when space allows it */
  .bs-sidebar .nav > .active > ul {
    display: block;
  }

  /* Tweak display of docs jumbotrons */
  .bs-masthead {
    padding-top:    100px;
    padding-bottom: 100px;
  }
  .bs-masthead h1 {
    font-size: 100px;
  }
  .bs-masthead p {
    margin-left: 15%;
    margin-right: 15%;
    font-size: 30px;
  }

  .bs-navbar-top-example .navbar-fixed-top,
  .bs-navbar-bottom-example .navbar-fixed-bottom {
    position: absolute;
  }

}

/* Tablets/desktops and up */
@media screen and (min-width: 992px) {

  /* Widen the fixed sidebar */
  .bs-sidebar.affix,
  .bs-sidebar.affix-bottom {
    width: 213px;
  }
  .bs-sidebar.affix {
    position: fixed; /* Undo the static from mobile-first approach */
    top: 80px;
  }
  .bs-sidebar.affix-bottom {
    position: absolute; /* Undo the static from mobile-first approach */
  }
  .bs-sidebar.affix-bottom .bs-sidenav,
  .bs-sidebar.affix .bs-sidenav {
    margin-top: 0;
    margin-bottom: 0;
  }
  .bs-header h1,
  .bs-header p {
    margin-right: 380px;
  }
  .carbonad {
    position: absolute;
    top: 20px;
    right: 0;
    padding: 15px !important;
    width: 330px !important;
    min-height: 132px;
  }

}

/* Large desktops and up */
@media screen and (min-width: 1200px) {

  /* Widen the fixed sidebar again */
  .bs-sidebar.affix-bottom,
  .bs-sidebar.affix {
    width: 270px;
  }

}

/* pygments-manni.css */   
.hll { background-color: #ffffcc }
 /*{ background: #f0f3f3; }*/
.c { color: #999; } /* Comment */
.err { color: #AA0000; background-color: #FFAAAA } /* Error */
.k { color: #006699; } /* Keyword */
.o { color: #555555 } /* Operator */
.cm { color: #0099FF; font-style: italic } /* Comment.Multiline */
.cp { color: #009999 } /* Comment.Preproc */
.c1 { color: #999; } /* Comment.Single */
.cs { color: #999; } /* Comment.Special */
.gd { background-color: #FFCCCC; border: 1px solid #CC0000 } /* Generic.Deleted */
.ge { font-style: italic } /* Generic.Emph */
.gr { color: #FF0000 } /* Generic.Error */
.gh { color: #003300; } /* Generic.Heading */
.gi { background-color: #CCFFCC; border: 1px solid #00CC00 } /* Generic.Inserted */
.go { color: #AAAAAA } /* Generic.Output */
.gp { color: #000099; } /* Generic.Prompt */
.gs { } /* Generic.Strong */
.gu { color: #003300; } /* Generic.Subheading */
.gt { color: #99CC66 } /* Generic.Traceback */
.kc { color: #006699; } /* Keyword.Constant */
.kd { color: #006699; } /* Keyword.Declaration */
.kn { color: #006699; } /* Keyword.Namespace */
.kp { color: #006699 } /* Keyword.Pseudo */
.kr { color: #006699; } /* Keyword.Reserved */
.kt { color: #007788; } /* Keyword.Type */
.m { color: #FF6600 } /* Literal.Number */
.s { color: #d44950 } /* Literal.String */
.na { color: #4f9fcf } /* Name.Attribute */
.nb { color: #336666 } /* Name.Builtin */
.nc { color: #00AA88; } /* Name.Class */
.no { color: #336600 } /* Name.Constant */
.nd { color: #9999FF } /* Name.Decorator */
.ni { color: #999999; } /* Name.Entity */
.ne { color: #CC0000; } /* Name.Exception */
.nf { color: #CC00FF } /* Name.Function */
.nl { color: #9999FF } /* Name.Label */
.nn { color: #00CCFF; } /* Name.Namespace */
.nt { color: #2f6f9f; } /* Name.Tag */
.nv { color: #003333 } /* Name.Variable */
.ow { color: #000000; } /* Operator.Word */
.w { color: #bbbbbb } /* Text.Whitespace */
.mf { color: #FF6600 } /* Literal.Number.Float */
.mh { color: #FF6600 } /* Literal.Number.Hex */
.mi { color: #FF6600 } /* Literal.Number.Integer */
.mo { color: #FF6600 } /* Literal.Number.Oct */
.sb { color: #CC3300 } /* Literal.String.Backtick */
.sc { color: #CC3300 } /* Literal.String.Char */
.sd { color: #CC3300; font-style: italic } /* Literal.String.Doc */
.s2 { color: #CC3300 } /* Literal.String.Double */
.se { color: #CC3300; } /* Literal.String.Escape */
.sh { color: #CC3300 } /* Literal.String.Heredoc */
.si { color: #AA0000 } /* Literal.String.Interpol */
.sx { color: #CC3300 } /* Literal.String.Other */
.sr { color: #33AAAA } /* Literal.String.Regex */
.s1 { color: #CC3300 } /* Literal.String.Single */
.ss { color: #FFCC33 } /* Literal.String.Symbol */
.bp { color: #336666 } /* Name.Builtin.Pseudo */
.vc { color: #003333 } /* Name.Variable.Class */
.vg { color: #003333 } /* Name.Variable.Global */
.vi { color: #003333 } /* Name.Variable.Instance */
.il { color: #FF6600 } /* Literal.Number.Integer.Long */

.css .o,
.css .o + .nt,
.css .nt + .nt { color: #999; }

/*Pagination*/
/*Pagination*/
.pagination {
  display: inline-block;
  padding-left: 0;
  margin: 20px 0;
  border-radius: 4px;
}

.pagination > li {
  display: inline;
}

.pagination > li > a,
.pagination > li.current,
.pagination > li > span {
  float: left;
  padding: 4px 12px;
  line-height: 1.428571429;
  text-decoration: none;
  background-color: #ffffff;
  border: 1px solid #dddddd;
  border-left-width: 0;
}

.pagination > li:first-child > a,
.pagination > li:first-child > span {
  border-left-width: 1px;
  border-bottom-left-radius: 4px;
  border-top-left-radius: 4px;
}

.pagination > li:last-child > a,
.pagination > li:last-child > span {
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}

.pagination > li > a:hover,
.pagination > li > a:focus,
.pagination > .active > a,
.pagination > .active > span {
  background-color: #f5f5f5;
}

.pagination > .active > a,
.pagination > .active > span {
  color: #999999;
  cursor: default;
}

.pagination > .disabled > span,
.pagination > .disabled > a,
.pagination > .disabled > a:hover,
.pagination > .disabled > a:focus {
  color: #999999;
  cursor: not-allowed;
  background-color: #ffffff;
}

.pagination-large > li > a,
.pagination-large > li > span {
  padding: 14px 16px;
  font-size: 18px;
}

.pagination-large > li:first-child > a,
.pagination-large > li:first-child > span {
  border-bottom-left-radius: 6px;
  border-top-left-radius: 6px;
}

.pagination-large > li:last-child > a,
.pagination-large > li:last-child > span {
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
}

.pagination-small > li > a,
.pagination-small > li > span {
  padding: 5px 10px;
  font-size: 12px;
}

.pagination-small > li:first-child > a,
.pagination-small > li:first-child > span {
  border-bottom-left-radius: 3px;
  border-top-left-radius: 3px;
}

.pagination-small > li:last-child > a,
.pagination-small > li:last-child > span {
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
}
.pagination-panel {
  text-align: center;
}
.pagination-panel .pagination {
  margin: 0;
}

/* Cross App */
#app_carousel div.carousel .item {
  text-align: center;
}

#cartoon_list .list-group-item {
  border-left: none;
  border-right: none;
  border-bottom: none;
  border-top-right-radius: 0px;
  border-top-left-radius: 0px;
}

#app_carousel div.carousel .carousel-control.right {
  background-image: -webkit-gradient(linear,0 top,100% top,from(rgba(202,190,224,0.0001)),to(rgba(202,190,224,0.5)));
  background-image: -webkit-linear-gradient(left,color-stop(rgba(202,190,224,0.0001) 0),color-stop(rgba(202,190,224,0.5) 100%));
  background-image: -moz-linear-gradient(left,rgba(202,190,224,0.0001) 0,rgba(202,190,224,0.5) 100%);
  background-image: linear-gradient(to right,rgba(202,190,224,0.0001) 0,rgba(202,190,224,0.5) 100%);
}

#app_carousel div.carousel .carousel-control.left {
   background-image: -webkit-gradient(linear,0 top,100% top,from(rgba(202,190,224,0.5)),to(rgba(202,190,224,0.0001)));
  background-image: -webkit-linear-gradient(left,color-stop(rgba(202,190,224,0.5) 0),color-stop(rgba(202,190,224,0.0001) 100%));
  background-image: -moz-linear-gradient(left,rgba(202,190,224,0.5) 0,rgba(202,190,224,0.0001) 100%);
  background-image: linear-gradient(to right,rgba(202,190,224,0.5) 0,rgba(202,190,224,0.0001) 100%);
}



#cartoon_list .panel-content {
  /*border-color: #0088cc;*/
  border-top: none;
  border-left: none;
  border-bottom: none;
  border-right: 1px solid #d6d6d6;
  background-color: #fafafa;
  border-radius: 0;
  padding-top: 0;
  box-shadow: none;
  margin-bottom: 0;
  padding-bottom: 0;
}

/*#cartoon_list .cartoon-list .even {
  border-left: 1px solid #d6d6d6;
  border-right: 1px solid #d6d6d6;
}*/

#cartoon_list .panel-rank {
  padding: 0;
  border-radius: 0;
}
#cartoon_list .panel-rank .panel-title {
    border: none;
    padding: 0 15px;
    text-align: center;
}

#cartoon_list .panel-rank .list-group-item {
  border-color: #d6d6d6;
}

#cartoon_list .col-lg-2 {
  padding: 0
}
#cartoon_list .thumbnail {
  text-align: left;
  /*border: none;*/
  border-color: #e5e5e5;
}

.btn-show {
  border: 1px solid #CFCFCF;
}
.btn-show:hover {
  color: #333;
}

#cartoon_list .thumbnail p {
  font-size: 9pt;
  margin-top: 5px;
  margin-bottom: 5px;
}

#cartoon_list .thumbnail .caption {
  padding: 0 0;
}

#cartoon_list .cartoon-list {
  border-bottom: 1px solid #d6d6d6;
  margin-bottom: 15px;
  padding-bottom: 15px;
}

#cartoon_list .last-row {
  border-bottom: none;
}

#cartoon_list .app-icon {
  margin: 0 auto;
}
#cartoon_list .app-icon img {
  width: 100%;
  height: 164px;
}

#cartoon_list .panel-rank .badge-success {
  background: #5cb85c;
}

#app_detail .app-icon img {
  width: 120px;
  height: 120px;
}

.bs-callout-description {
  background-color: #E7E0F0;
  border-color: #A38AC7;
}

#app_detail .bs-callout {
  margin: 0;
  height: 165px;
}

#app_detail .image-list {
  border-top: 1px dashed #0088cc;
  padding-top: 15px;
}
/*Go to Top*/
a.backToTop{
  width:60px; 
  height:60px; 
  background:url(/assets/top.gif) no-repeat -51px 0; 
  text-indent:-999em;
} 

a.backToTop:hover{
  background-position:-113px 0;
} 

/*Cartoon Overview*/
#cartoon_list .notice {
  margin: 0;
}
#top_slider .col-lg-10 {
  padding-left: 28px;
  padding-right: 22px;
}
#cartoon_list .thumbnail {
  background: #f7f7f7;
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
          box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
}
#cartoon_list .thumbnail .cartoon-card {
  background-color: #EFEFEF;
  margin-left: -4px;
  margin-right: -4px;
  margin-bottom: -4px;
}
#cartoon_list .cartoon-title {
  height: 34px;
  margin-bottom: 8px;
}
#cartoon_list .cartoon-card {
  margin-left: 0;
  margin-right: 0;
  border-top: 1px dotted #979797;
}
#cartoon_list .cartoon-info {
  padding: 0;
}
#cartoon_list .cartoon-info:first-child {
  padding-top: 4px;
}
#cartoon_list .cartoon-info:last-child {
  padding: 4px;
}
#cartoon_list .cartoon-info:last-child a{
  float: right;
}
#cartoon_list .cartoon-info .download-times {
  padding: 3px 5px;
}

#cartoon_list .panel-rank .list-group-item span {
  float: left;
  margin-right: 5px;
}

/*Download*/
#download_link {
    position:fixed;
    z-index:200;
    bottom:100;
    left: 960px;
    width:150px;
    height:auto;
    padding: 0;
    min-height:30px;
    background-color:rgb(255,255,255);
    border-right:1px rgb(235,235,235) solid;
    border-left:1px rgb(235,235,235) solid;
}

/*Login*/

#login .panel-heading {
  background-color: #0088cc;
}
#login .panel-heading .panel-title {
  color: #FFFFFF;
}

#login input[type="submit"] {
  margin-top: 20px;
}

/*Detail Page*/
#cartoon_detail .cartoon-original-pic {
  padding-bottom: 15px;
  border-bottom: 5px solid #428bca;
}
.comment-area {
  margin-top: 15px;
}
.comment-area .col-lg-4{
  padding: 0;
}
#comment_title {
  border: 1px solid #dddddd;
  text-align: center;
  background: #f7f7f7; 
  background: -moz-linear-gradient(top,  #f7f7f7 0%, #e0e0e0 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f7f7f7), color-stop(100%,#e0e0e0));
  background: -webkit-linear-gradient(top,  #f7f7f7 0%,#e0e0e0 100%);
  background: -o-linear-gradient(top,  #f7f7f7 0%,#e0e0e0 100%);
  background: -ms-linear-gradient(top,  #f7f7f7 0%,#e0e0e0 100%);
  background: linear-gradient(top,  #f7f7f7 0%,#e0e0e0 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f7f7f7', endColorstr='#e0e0e0',GradientType=0 );
}
.comment-body {
  height: 130px;
}
/*.user-logged-in {
  display: none;
}*/
#comments_list .bs-callout:first-child {
  margin-top: 0;
}
#cartoon_detail .panel {
  border-radius: 0;
}
#cartoon_detail .panel-content {
  border-radius: 0;
/*  border-top: 1px solid #d6d6d6;
  border-left: none;
  border-bottom: none;
  border-right: none;*/
  border: none;
  background-color: #fafafa;
  border-radius: 0;
  padding-top: 0;
}
#cartoon_detail .panel-content .first-col, #cartoon_detail .panel-content .last-col {
  border-top: 1px solid #d6d6d6;
}
#cartoon_detail .panel-content .bc {
  padding: 0;
  border-radius: 0;
  border-top: 1px solid #fafafa;
  border-right: 1px solid #d6d6d6;
  border-bottom: 1px solid #d6d6d6;
  border-left: 1px solid #d6d6d6;
  font-size: 16px;
}
#cartoon_detail .breadcrumb {
   background-color: #fafafa;
}
#cartoon_detail .panel-content .bc ul {
  margin-bottom: 0;
}

#comments_list .panel {
  padding-top: 10px;
}
.comment-header {
  padding-left: 5px;
  margin: -15px -15px 15px;
  background-color: #f5f5f5;
  border-bottom: 1px solid #ddd;
  /*reuse*/
  background: #f7f7f7; 
  background: -moz-linear-gradient(top,  #f7f7f7 0%, #e0e0e0 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f7f7f7), color-stop(100%,#e0e0e0));
  background: -webkit-linear-gradient(top,  #f7f7f7 0%,#e0e0e0 100%);
  background: -o-linear-gradient(top,  #f7f7f7 0%,#e0e0e0 100%);
  background: -ms-linear-gradient(top,  #f7f7f7 0%,#e0e0e0 100%);
  background: linear-gradient(top,  #f7f7f7 0%,#e0e0e0 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f7f7f7', endColorstr='#e0e0e0',GradientType=0 );
}
#comments_list .comment-body, #user_detail .comment-body{
  height: auto;
}
#add_comment {
  margin-top: 5px;
  float: right;
}
#cartoon_detail .original-pic {
  width: 100%;
  height: 100%;
}
.cartoon-img .title {
  text-align: center;
}
.page-action {
  margin: 5px 0;
  padding: 0 5px;
}
.page-action .title {
  display: inline-table;
}
.page-action .last-btn {
  float: right;
};
/*User Profile*/
#user_comments_list{
  padding: 0;
}
#user_comments {
  padding: 0;
}
/*Footer*/
#footer {
  border-radius: 0;
  padding-top: 20px;
  background-color: #454545;
}
#footer #first-col, #footer #second-col, #footer #last-col{
  padding-left: 0;
}

#footer .list-group span, #footer .list-group a {
  border: none;
  padding: 10px 0 10px 15px;
  width: 55%;
}
#footer #last-col a{
  width: 75px;
}


#footer .list-group a:hover {
  text-decoration: none;
}


#footer .list-item {
  position: relative;
  display: block;
  padding: 10px 30px 10px 15px;
  margin-bottom: -1px;
  color: #FFFFFF;
}
